Source: network-manager-ssh
Section: net
Priority: optional
Maintainer: Dan Fruehauf <malkodan@gmail.com>
XSBC-Original-Maintainer: Dan Fruehauf <malkodan@gmail.com>
Uploaders: Dan Fruehauf <malkodan@gmail.com>
Build-Depends:
 debhelper (>= 8),
 dh-autoreconf,
 dpkg-dev (>= 1.16.1~),
 network-manager-dev (>= 0.9.4),
 libnm-util-dev (>= 0.9.4),
 libnm-glib-dev (>= 0.9.4),
 libnm-glib-vpn-dev (>= 0.9.4),
 intltool,
 libdbus-glib-1-dev (>= 0.74),
 libgnome-keyring-dev,
 libgtk-3-dev (>= 3.0),
 libglib2.0-dev
Standards-Version: 3.9.3
Homepage: http://www.gnome.org/projects/NetworkManager/

Package: network-manager-ssh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openssh-client, sshpass
Recommends: network-manager-ssh-gnome | plasma-widget-networkmanagement
Description: network management framework (SSH plugin core)
 NetworkManager is a system network service that manages your network devices
 and connections, attempting to keep active network connectivity when
 available. It manages ethernet, WiFi, mobile broadband (WWAN), and PPPoE
 devices, and provides VPN integration with a variety of different VPN
 services.
 .
 This package provides a VPN plugin for SSH.

Package: network-manager-ssh-gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, network-manager-ssh (= ${binary:Version})
Description: network management framework (SSH plugin GNOME GUI)
 NetworkManager is a system network service that manages your network devices
 and connections, attempting to keep active network connectivity when
 available. It manages ethernet, WiFi, mobile broadband (WWAN), and PPPoE
 devices, and provides VPN integration with a variety of different VPN
 services.
 .
 This package provides the GNOME bits of NetworkManager's SSH plugin.

