---
name: Build NetworkManager-ssh Ubuntu

on:
  workflow_call:
    inputs:
      ubuntu-version:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: "ubuntu:${{ inputs.ubuntu-version }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y \
            build-essential autoconf libgtk-3-dev libnm-dev libglib2.0-dev \
            libtool intltool gettext libnma-dev libsecret-1-dev \
            bzip2 libdbus-1-dev network-manager openssh-client \
            shared-mime-info sshpass pkg-config \
            git wget curl ca-certificates
          apt-get clean

      - name: Build NetworkManager-ssh
        run: |
          if [ ! -f configure ]; then
            autoreconf -vfi
          fi
          ./configure --disable-static \
            $(if [ -d gtk4 ]; then echo "--with-gtk4"; fi) \
            --enable-more-warnings=yes \
            --with-dist-version=1.4.2-1
          make -j$(nproc)
