---
name: Build NetworkManager-ssh Fedora Rawhide

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]

jobs:
  call-build:
    uses: ./.github/workflows/build.yml
    with:
      image-name: fedora
      image-version: rawhide
